@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap');

@theme {
    --font-roboto: 'Roboto', sans-serif;
    --font-bricolage: 'Bricolage Grotesque', sans-serif;
    --color-red:#DD3142;
}

@layer base {
    html {
        font-family: var(--font-roboto);
    }

    body {
       
        @apply m-0 p-0 bg-white text-gray-900 font-roboto font-normal text-base leading-6 not-italic;
    }

    h1 {
        @apply text-[44px] font-roboto font-bold text-black leading-normal not-italic;
      }

      h2 {
        @apply text-[#0E0E0E] font-roboto text-[30px] not-italic font-medium leading-none uppercase;
      }

      h3 {
        @apply text-[#6D6D6D] text-center font-roboto text-[14px] not-italic font-normal leading-[133.5%];
      }

      p {
        @apply font-roboto text-[14px] font-normal not-italic leading-normal;
      }
      
}
@layer components {
   
}